---
---

// font-size: 1em;     /* 작게 */
// font-size: 1.2em;   /* 보통 */
// font-size: 1.5em;   /* 크게 */

@charset "utf-8";

@import "minimal-mistakes";

/* Recent Posts 아래 게시글 제목 */
.archive__item-title {
  font-size: 1em;     /* 작게 */
}

/* Post의 디테일 설명 */
.archive__item-excerpt {
  display: none;
}

/* 사이드바 아바타 크기 */
.author__avatar {
  img {
    max-width: 175px;   /* 원하는 크기로 조절 (기본값 110px) */
    border-radius: 0; /* 원형 대신 사각형으로 하려면 주석 해제 */
  }
}




/* Post 본문 글자 크기 줄이기 */
.page__content {
  p, li, dl {
    font-size: 0.50em;   /* 원하는 크기로 조절 (기본값 1em) */
  }
}
